@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&family=Staatliches&display=swap");
:root {
  font-size: 16px;
  --color1: #000814;
  --color2: #fcfffd;
  --color3: #7fc8f8;
  --color4: #003366;
  --text-primary: #ececec;
  --text-secondary: #b6b6b6;
  --contrast-primary: #3586ff;
  --contrast-secondary: #339ce0;
  --bg-primary: #000000;
  --bg-secondary: #141418;
  --transition-speed: 250ms;
  --nav-content-width: 60%;
  --main-content-width: 50%;
  --hero-content-width: 65%;
  --margin-top: 60px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
  color: var(--color1);
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--color2);
  overflow-x: hidden;
}

body nav {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  background-color: #13141800;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0);
  -webkit-transition: all 600ms;
  transition: all 600ms;
  /*Styling Hamburger Icon*/
}

body nav .navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: var(--nav-content-width);
  /*Styling Links*/
}

body nav .navbar-wrapper .navbar-sm {
  display: none;
}

body nav .navbar-wrapper .logo {
  padding: 1vh 1vw;
  text-align: center;
}

body nav .navbar-wrapper .logo img {
  height: 4.5rem;
  width: 4.5rem;
}

body nav .navbar-wrapper .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

body nav .navbar-wrapper .nav-links li {
  position: relative;
}

body nav .navbar-wrapper .nav-links li a {
  padding: 20px 40px 20px 0px;
  text-decoration: none;
  color: white;
  background-color: #00336600;
}

body nav .navbar-wrapper .nav-links li a:hover {
  color: var(--color3);
}

body nav .navbar-wrapper .nav-links li a::before {
  content: "";
  display: block;
  height: 1px;
  width: 0%;
  background-color: var(--color3);
  position: absolute;
  -webkit-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
  margin: 20px 0px 0px 0px;
}

body nav .navbar-wrapper .nav-links li a:hover::before {
  width: 25px;
}

body nav .navbar-wrapper .nav-links .login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .navbar-wrapper .nav-links .login-wrapper .login-button {
  background-color: transparent;
  border: 1.5px solid var(--color2);
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  color: var(--color2);
  cursor: pointer;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

body nav .navbar-wrapper .nav-links .login-wrapper .login-button:hover {
  color: #131418;
  background-color: var(--color2);
  border: 1.5px solid var(--color2);
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

body nav .navbar-wrapper .nav-links .login-wrapper .join-button {
  color: #131418;
  background-color: var(--color3);
  border: 1.5px solid var(--color3);
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  margin-left: 0.5vw;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  cursor: pointer;
}

body nav .navbar-wrapper .nav-links .login-wrapper .join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

body nav .hamburger {
  display: none;
}

body nav .hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

body .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

body .toggle .line2 {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 0;
}

body .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

body main {
  width: 100vw;
}

body main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #000;
}

body main .wrapper .menu {
  background-image: url(/img/menu.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body main .wrapper .membership {
  background-image: url(/img/membership.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body main .wrapper .catering {
  background-image: url(/img/catering.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body main .wrapper .apply {
  background-image: url(/img/apply.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body main .wrapper section {
  width: 50vw;
  height: 25vw;
}

body main .wrapper section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .wrapper section article h1,
body main .wrapper section article p,
body main .wrapper section article a {
  color: var(--color2);
}

body main .wrapper section article p {
  font-size: 2rem;
  font-family: "League Gothic", sans-serif;
}

body main .wrapper section article h1 {
  text-transform: uppercase;
  font-size: 5rem;
  margin: -15px 0px -25px 0px;
  font-family: "Bebas Neue", cursive;
}

body main .wrapper section article a {
  padding: 10px 35px 10px 35px;
  border-radius: 90px;
  border: none;
  background-color: var(--color4);
  font-size: 1.5rem;
  margin-top: 15px;
  font-family: "Bebas Neue", cursive;
  -webkit-transition: all ease-in-out var(--transition-speed);
  transition: all ease-in-out var(--transition-speed);
}

body main .wrapper section article a:hover {
  -webkit-filter: brightness(170%);
          filter: brightness(170%);
  -webkit-transition: all ease-in-out var(--transition-speed);
  transition: all ease-in-out var(--transition-speed);
  background-size: contain;
}

body main iframe {
  width: 100vw;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

body footer {
  width: 100vw;
  height: 200px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer p,
body footer a,
body footer h1,
body footer span,
body footer div {
  color: var(--color2);
}

body footer .footer-wrapper {
  width: 60vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px 0px 20px;
}

body footer .footer-wrapper .footer-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body footer .footer-wrapper .footer-sm h1 {
  font-size: 25px;
  margin-right: 10px;
}

body footer .footer-wrapper .footer-sm a {
  margin-right: 10px;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

body footer .footer-wrapper .footer-sm a img {
  width: 1.4rem;
  height: 1.4em;
}

body footer .footer-wrapper .footer-sm a #youtube {
  margin-left: 2px;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

body footer .footer-wrapper .footer-sm a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

body footer .footer-wrapper .footer-rap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body footer .footer-wrapper .footer-rap .footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .footer-wrapper .footer-rap .footer-policy a,
body footer .footer-wrapper .footer-rap .footer-policy p {
  margin-right: 10px;
}

body footer .footer-wrapper a:hover {
  color: var(--color3);
}

@media screen and (max-width: 1650px) {
  body nav .navbar-wrapper {
    width: 80vw;
  }
  body footer .footer-wrapper {
    width: 80vw;
  }
}

/*Stying for small screens*/
@media screen and (max-width: 1000px) {
  body .wrapper .menu,
  body .wrapper .membership,
  body .wrapper .catering,
  body .wrapper .apply {
    width: 100vw;
    height: 60vw;
  }
  body .wrapper .menu p,
  body .wrapper .membership p,
  body .wrapper .catering p,
  body .wrapper .apply p {
    font-size: 1.5rem;
  }
  body .wrapper .menu h1,
  body .wrapper .membership h1,
  body .wrapper .catering h1,
  body .wrapper .apply h1 {
    font-size: 2rem;
    margin: 0px 0px 0px 0px;
  }
  body .wrapper .menu a,
  body .wrapper .membership a,
  body .wrapper .catering a,
  body .wrapper .apply a {
    font-size: 1rem;
    padding: 10px 25px 10px 25px;
    border-radius: 90px;
    margin-top: 10px;
  }
  body nav {
    position: fixed;
    z-index: 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body nav .navbar-wrapper {
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body nav .navbar-wrapper .logo {
    display: block;
    margin-top: 5px;
  }
  body nav .navbar-wrapper .logo img {
    height: 4.5rem;
    width: 4.5rem;
  }
  body nav .navbar-wrapper .navbar-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav .navbar-wrapper .navbar-sm a {
    display: block;
    position: absolute;
    left: 5%;
    top: 35.5%;
  }
  body nav .navbar-wrapper .navbar-sm a img {
    height: 1.8rem;
    width: 1.8rem;
  }
  body nav .navbar-wrapper .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  body nav .navbar-wrapper .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(50px at 90% -20%);
            clip-path: circle(50px at 90% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  body nav .navbar-wrapper .nav-links .login-wrapper {
    margin-left: 0px;
    margin-right: 40px;
  }
  body nav .navbar-wrapper .nav-links .login-wrapper .join-button {
    margin-left: 20px;
  }
  body nav .navbar-wrapper .nav-links.open {
    -webkit-clip-path: circle(1000px at 90% -10%);
            clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav .navbar-wrapper .nav-links li {
    opacity: 0;
  }
  body nav .navbar-wrapper .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  body nav .navbar-wrapper .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  body nav .navbar-wrapper .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  body nav .navbar-wrapper .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.7s;
    transition: all 0.5s ease 0.7s;
  }
  body nav .navbar-wrapper .nav-links li:nth-child(5) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  body nav .navbar-wrapper .nav-links li:nth-child(6) {
    -webkit-transition: all 0.5s ease 0.9s;
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  body nav .navbar-wrapper .nav-links li:nth-child(7) {
    -webkit-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  body nav .navbar-wrapper li.fade {
    opacity: 1;
  }
  body iframe {
    height: 60vw;
  }
}
/*# sourceMappingURL=style.css.map */