


.gallery {
  background: #eee;
}

.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  background: #ed2;
}

/* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}

.flickity-button-icon:hover {
  fill: rgb(255, 255, 255);
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
